.root {
  position: relative;
  left: -120px;

  @media (max-width: 1230px) {
    left: -50px;
  }

  @media (max-width: 1024px) {
    left: -20px;
  }

  @media (max-width: 730px) {
    left: 0px;
    margin-bottom: 20px;
  }

  @media (max-width: 645px) {
    margin-bottom: 0px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 10px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 20px;
  padding-left: 42px;
  width: 400px;
  border-radius: 12px;
  font-size: 16px;
  transition: all 0.15s ease-in-out;

  @media (max-width: 1330px) {
    width: 300px;
  }

  @media (max-width: 1080px) {
    width: 260px;
  }

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 13px;
  top: 11px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
